[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
ipdb = "*"

[packages]
pysignal = "*"
opencv-python = "*"
pytz = "*"
loguru = "*"
pyserial = "*"
python-dateutil = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[scripts]
format = "yapf -i -r --style google --no-local-style -p -vv ."
